*{
    margin: 0;
    padding: 0;
    background-color: #BAC5FE;
}
header{
    display: flex;
    justify-content: center;
}

#container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    width: 300px;
    height: 400px;
    padding: 12px;
    background: #ffffff;
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:  10px 5px;
}
#display{
    grid-column: 1 / -1;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: 5px;
    background-color: #212121;
    color: white;
}

.btn{
    /* width: 60px; */
    height: 70px;
    font-size: 23px;
    border-radius: 10px;
    border: none;
    background-color: #4caf50;
}
.btn.op{
     background-color: #ff9800;
     color: white;
}
#clear{
    background-color: #f44336;
}

